.slide{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    background-color: aqua;
    height: 55vw;
}
.slide .slcon{
    text-align: center;
    margin-top: 4%;
}
.slcon p{
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 2%;
}